@charset "utf-8";

html, body, #containerA, #containerB {
	height:100%;
	width: 100%;
	background-color: #000000;
}
body  {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	font-size: 90%;
	font-size: 12px;
	line-height: 16px;
	margin: 0px;
	background-color: #000000;
}
h1 {     
    margin: 0px auto 20px auto;
}
h2 {     
    margin: 10px auto 10px auto;
}
h3 {
	margin: 5px auto 5px auto;
}
h4 {
	margin: 5px auto 5px auto;
}
h5 {
	font-size: 18px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	margin-top: 5px;
	line-height: 25px;
	color: #000099;
	height: auto;
}
h6 { 
    margin: 10px auto 10px auto;
}
p {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.thrColLiqHdr #container {
	text-align: left;
	margin-bottom: 0px;
	height: auto;
	width: 966px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	float: none;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: none;
	padding-right: 5px;
	padding-left: 5px;
}
/************************ Header ********************************/
.thrColLiqHdr #header {
	height: 115px;
	background-image: url(images/page/header.jpg);
	background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 4px;
	background-color: #000000;
	background-position: center center;
	border: 3px solid #000066;
	position: relative;
}
#header h2 {
	font-size: 18px;
	color: #B8C9DD;
	font-family: Arial;
	font-style: italic;
	line-height: 22px;
	margin-top: 0px;
}
.headdate {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}
#headright {
	width: 260px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
	border: 1px solid #333333;
	margin-top: 5px;
	float: left;
	height: 55px;
}
#headdate {
	float: left;
	width: 260px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	height: 17px;
	background-image: url(images/page/date.jpg);
	border: 1px solid #333333;
	padding-bottom: 2px;
}
.headright1 {
	font-size: 11px;
	color: #FF9900;
	line-height: 29px;
}
.headright2  {
	font-size: 18px;
	color: #FFFFFF;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	line-height: 18px;
	font-style: italic;
}
.headright3  {
	font-size: 10px;
	color: #FF9900;
	font-family: Arial;
	text-align: center;
	font-weight: bold;
}
.headcenter1 {
	font-size: 10px;
	font-family: Arial;
	color: #7B9ABF;
	font-weight: bold;
	line-height: 12px;
}
#headleft {
	width: 252px;
	height: 85px;
	padding-left: 5px;
	float: left;
}
.headright4 {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bolder;
	font-style: italic;
}
.h2bold5 {
	font-size: 12px;
	color: #0066FF;
}
.h2bold6 {
	font-size: 12px;
	color: #000099;
}
.logo {
	background-color: #000000;
	margin-bottom: 0px;
	text-align: center;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
}
#logo1 {
	display: block;
	border: 1px solid #333333;
	float: left;
}
#logo img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
/************************ Sidebar 1 ********************************/
.thrColLiqHdr #sidebar1 {
	float: left;
	width: 164px;
	color: #FFFFFF;
	margin-bottom: 15px;
	height: 100%;
}
.thrColLiqHdr #sidebar1short {
	float: left;
	width: 164px;
	color: #FFFFFF;
	margin-bottom: 3px;
}
/********************Sidebar 1 Navigation***************************/
p.navigation {
	border: 1px solid #000000;
	margin-top: 1px;
	margin-bottom: 1px;
}
p.navigation a {
	color: #FFFFFF;
	background-color: #000066;
	text-decoration: none;
	border: 1px solid #0000FF;
	padding-top: 1px;
	padding-bottom: 1px;
	display: block;
	width: 154px;
	text-indent: 5px;
}
p.navigation a:visited {
	color: #FFFFFF;
	background-color: #000066;
}
p.navigation a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
/************************ Sidebar 2 ********************************/
.thrColLiqHdr #sidebar2 {
	float: right;
	width: 164px;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.thrColLiqHdr #sidebar2short {
	float: right;
	width: 164px;
	color: #FFFFFF;
	margin-bottom: 3px;
}
.thrColLiqHdr #container #sidebar2 h2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-right: 5px;
	margin-bottom: -10px;
	color: #0099FF;
}
/******************** Side Bar Pictures *************************/
.thumbnail {
	color: #0099FF;
	text-align: center;
	color: #B8C9DD;
	line-height: 20px;
	font-size: 10px;
	border: 1px solid #0000FF;
	margin-top: 18px;
	background-color: #000000;
}
.thumbnail2 {
	text-align: center;
	margin-right: 35px;
	margin-left: 35px;
	margin-top: 6px;
	float: none;
	margin-bottom: 6px;
}
.thumbnailf2 {
	text-align: center;
	margin-right: 35px;
	margin-left: 35px;
	margin-top: 6px;
	float: none;
	margin-bottom: 6px;
}
.thumbnail1 {
	margin-right: auto;
	margin-left: auto;
	background-color: #000000;
	padding-top: 5px;
	margin-top: 3px;
	border: 1px solid #0000FF;
	padding-bottom: 3px;
}
/******************** Main Content *************************/
.thrColLiqHdr #sidebar1 p, .thrColLiqHdr #sidebar1 h3, .thrColLiqHdr #sidebar2 p, .thrColLiqHdr #sidebar2 h3 {
	margin-top: 1px;
	color: #B8C9DD;
	margin-bottom: 1px;
}
.thrColLiqHdr #mainContent {
	margin-right: 170px;
	margin-left: 170px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 2px;
	margin-bottom: 3px;
	height: auto;
	background-color: #FFFFFF;
	padding-top: 15px;
	text-decoration: none;
	margin-top: 0px;
	line-height: 1.5em;
	float: none;
}
.thrColLiqHdr #footer {
	border: 2px solid #000066;
}
.thrColLiqHdr #footer p {
	text-align: center;
	color: #0066FF;
	font-size: 10px;
	background-image: url(images/page/footer.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
	margin: 0;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
/********************Center Drop Dowen Lists***************************/
#lists {
	list-style:none;
	position: relative;
	margin-left: auto;
	margin-bottom: 0px;
	width: 564px;
	margin-right: auto;
	margin-top: 0px;
	padding-left: 0px;
}
#lists li {
	float:left;
	background-position: 0 4px;
	border: 1px solid #0000FF;
	width: 139px;
}
#lists li a.tl {
	display:block;
	width:139px;
	color:#FFFFFF;
	background-color: #000066;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 18px;
}
#lists div {
	display:none;
}
#lists li a:hover {
	white-space:normal;
	background-position:148px 1px;
	height: 18px;
	background-color: #FFFFFF;
}
#lists li:hover > a {
	white-space:normal;
	background-position:15px;
	background-color: #FFFFFF;
	color: #0000FF;
	height: 18px;
	position: relative;
}
#lists :hover div {
	display:block;
	width:563px;
	position:absolute;
	left:0;
	top:22px;
	border:1px solid #000000;
	background-color: #DFDDFF;
	padding-bottom: 10px;
	padding-top: 10px;
}
#lists :hover div dl {
	display:inline;
	float:left;
	width:138px;
	background-color: #DFDDFF;
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: 2px;
	margin-right: 0px;
}
#lists :hover div dl dd {
	padding:0;
	margin:0;
	font-size: 9px;
	color: #000000;
	text-indent: 4px;
}
#lists :hover div dd a {
	display:block;
	text-decoration:none;
	font-weight:normal;
	font-size:11px;
	color:#0099FF;
	line-height:15px;
	text-indent: 2px;
}
#lists .clear {
    clear:
    both;
}
/********************  *************************/
.top {
	background-color: #000000;
	margin-bottom: 0px;
	text-align: center;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
}
.block {
	text-align: center;
	margin-bottom: 15px;
	display: block;
}
.block1 {
	text-align: center;
	display: block;
}
.thrColLiqHdr #container #mainContent h3 {
	color: #999999;
	font-size: 9px;
	float: none;
}
.thrColLiqHdr #container #mainContent h2 {
	color: #000099;
	font-size: 18px;
	padding-top: 15px;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006;
}
.thrColLiqHdr #container #sidebar2 h3 {
	color: #6699FF;
	margin-right: 5px;
	margin-top: 10px;
}
.thrColLiqHdr #container #sidebar1 h3 {
	color: #6699FF;
	margin-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0000FF;
}
/********************* Title Bars ********************************/
.center {
	color: #B8C9DD;
	text-align: center;
	background-image: url(images/page/maincontent.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 18px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0048C1;
	border-right-color: #003388;
	border-bottom-color: #003388;
	border-left-color: #003388;
	background-color: #000000;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.center1 {
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	font-size: large;
	padding-right: 0px;
	padding-left: 0px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-right-color: #000099;
	border-bottom-color: #000066;
	border-left-color: #000099;
	padding-bottom: 10px;
	margin: 0px;
}
.center2 {
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	background-image: url(images/page/maincontent.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	font-size: large;
	padding-bottom: 10px;
	margin-bottom: 2px;
	margin-top: 0px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0048C1;
	border-right-color: #003388;
	border-bottom-color: #003388;
	border-left-color: #003388;
	background-color: #000000;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-right: 0px;
	padding-left: 0px;
}
.center3 {
	color: #FFFFFF;
	text-align: center;
	background-repeat: repeat-x;
	background-position: center center;
	font-size: 18px;
	padding-right: 0px;
	padding-left: 0px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-right-color: #000099;
	border-bottom-color: #000066;
	border-left-color: #000099;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 15px;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
/********************* Estimate Button **************************/
.estimate {
	margin-top: 1px;
}
.estimate a {
	display:block;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	text-align: center;
	line-height: 18px;
	background-color: #0645FF;
	border: 1px solid #002EB7;
	font-weight: bold;
	padding-top: 3px;
	margin-top: 3px;
}
.estimate a:visited {
	color: #FFFFFF;
	background-color: #0645FF;
	font-weight: bold;
}
.estimate a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
.estimatef {
	margin-top: 1px;
}
.estimatef a {
	display:block;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	text-align: center;
	line-height: 18px;
	background-color: #3A9AFE;
	border: 1px solid #3A9AFE;
	font-weight: bold;
	padding-top: 3px;
	margin-top: 3px;
}
.estimatef a:visited {
	color: #FFFFFF;
	background-color: #3A9AFE;
	font-weight: bold;
}
.estimatef a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
/********************* Sidebar 2 Flash Buttons **************************/
.flashbutton {
	margin-top: 3px;
}
.flashbutton a {
	display:block;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	line-height: 18px;
	background-color: #0645FF;
	border: 1px solid #002EB7;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	height: 38px;
}
.flashbutton a:visited {
	color: #FFFFFF;
	background-color: #0645FF;
	font-weight: bold;
}
.flashbutton a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
.flashbuttonf {
	margin-top: 3px;
}
.flashbuttonf a {
	display:block;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	line-height: 18px;
	background-color: #3A9AFE;
	border: 1px solid #3A9AFE;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	height: 38px;
}
.flashbuttonf a:visited {
	color: #FFFFFF;
	background-color: #3A9AFE;
	font-weight: bold;
}
.flashbuttonf a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
/********************* Sidebar 2 Buttons **************************/
.flash {
	text-align: center;
	width: 100%;
}
.flash a {
	display:block;
	color: #FFFFFF;
	background-color: #000066;
	text-decoration: none;
	border: 1px solid #0000FF;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 3px;
	width: 154px;
}
.flash a:visited {
	display:block;
	color: #FFFFFF;
	background-color: #000066;
	text-decoration: none;
	border: 1px solid #0000FF;
	padding-top: 1px;
	padding-bottom: 1px;
}
.flash a:hover {
	display:block;
	color: #0000FF;
	background-color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #0000FF;
	padding-top: 1px;
	padding-bottom: 1px;
}
/********************* Center Alphabet **************************/
#alphabet a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#alphabet a:hover {
	color : #0000FF;
	background-color: #FFFFFF;
}
#alphabet a:visited {
	text-decoration: none;
}
#alphabet:active {
	color: #0000FF;
	text-decoration: none;
	border: 1px solid #0000FF;
}
#alphabet {
	background-color: #000066;
	text-align: center;
	border: 1px solid #0000FF;
	color: #0000FF;
	float: none;
	margin: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}
/****************************************************************/
#footer a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#footer a:hover {
	color : #0000FF;
	background-color: #FFFFFF;
}#footer a:visited {
	text-decoration: none;
}
#footer:active {
	color: #0000FF;
	text-decoration: none;
}
/****************************************************************/
.bold {
	color: #333333;
	font-weight: bold;
}
.headcenter {
	height: 10px;
	font-size: 9px;
	color: #B8C9DD;
	font-weight: bold;
	display: block;
}
.h2bold {
	color: #0099FF;
	font-size: 10px;
	font-family: Arial;
	font-style: normal;
}
.h2bold1 {
	color: #B8C9DD;
	font-size: 18px;
	text-align: center;
	font-family: Arial;
	font-style: normal;
}
/****************************************************************/
.navigation1 {
	height: 461px;
	border: 1px solid #0000FF;
	padding-top: 1px;
	padding-right: 3px;
	padding-left: 2px;
	padding-bottom: 1px;
}
.navigation2 {
	height: 461px;
	text-align: center;
	border: 1px solid #0000FF;
	padding-top: 1px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 1px;
}
.navigation3 {
	margin-bottom: 30px;
	height: 395px;
	padding-right: 5px;
	width: 150px;
	float: left;
}
/**********************Flash Navigation**************************/
.navigationf1 {
	height: 460px;
	border: 1px solid #0000FF;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.navigationf2 {
	height: 460px;
	text-align: center;
	border: 1px solid #0000FF;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
}

/****************************************************************/

.thrColLiqHdr #container #mainContent h4 {
	color: #999999;
	font-size: 9px;
	text-align: right;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #B8C9DD;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #000000;
	width: 100%;
}
/********************Button Background*********************************/
.post1row {
	height: 36px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post1rowunder{
	height: 36px;
	width: 100%;
	background-color: #E0E0E0;
}
.post1rowover{
	background-color: #E0E0E0;
	padding-bottom: 3px;
	height: 28px;
	line-height: 16px;
	border: 1px solid #000000;
	padding-left: 5px;
	padding-right: 5px;
}
.post1rowc {
	height: 32px;
	width: 100%;
	background-color: #E0E0E0;
	padding-top: 3px;
	margin-bottom: 15px;
}
.post1rowc2 {
	height: 32px;
	width: 100%;
	background-color: #E0E0E0;
	padding-top: 4px;
}
.post1rowcenterindexpage {
	background-color: #000000;
	padding-bottom: 5px;
	padding-top: 8px;
	height: 26px;
	border: 1px solid #000000;
	padding-left: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.post1rowbottom {
	padding-top: 3px;
	padding-bottom: 3px;
	height: 26px;
	margin: 0px;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #000000;
}
.post2rows {
	height: 59px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post2rowsunder {
	height: 59px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post3rows {
	height: 83px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post4rows {
	height: 106px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post5rows {
	height: 129px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post6rows {
	height: 151px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post7rows {
	height: 175px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post8rows {
	height: 197px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post12rows {
	height: 295px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post13rows {
	height: 313px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post15rows {
	height: 359px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post16rows {
	background-color: #E0E0E0;
	height: 378px;
	line-height: 16px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-top: 6px;
}
.post25rows {
	height: 588px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.post30rows {
	height: 704px;
	width: 100%;
	padding-top: 8px;
	background-color: #CFCFCF;
}
.post31rows {
	height: 726px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.postindustries {
	height: 1348px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
.postalphabet {
	height: 37px;
	width: 100%;
	padding-top: 8px;
	background-color: #E0E0E0;
}
/****************************************************************/
.blockquote {
	background-color: #0000FF;
}
.thrColLiqHdr #container #mainContent blockquote {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.links {
	display:block;
	float: left;
	padding-left: 15px;
}
/****************************************************************/
.story {
	background-color: #000000;
	width: 281px;
	float: left;
	display: inline;
	border: 1px solid #999999;
	position: relative;
	padding-left: 3px;
	margin-left: 8px;
	padding-bottom: 3px;
}
.story1 {
	width: 50%;
	display: block;
	margin-right: 25%;
	margin-left: 25%;
	border: 1px solid  #000066;
}
.story2 {
	margin-right: 25%;
	margin-left: 25%;
	border: 1px solid #000066;
}
.story3 {
	background-color: #000000;
	width: 281px;
	float: left;
	display: inline;
	border: 1px solid #999999;
	position: relative;
	padding-left: 3px;
	margin-left: 8px;
	padding-bottom: 3px;
}
.story4 {
	margin-right: 25%;
	margin-left: 25%;
	border: 1px solid #999999;
	background-color: #000000;
}
.storyalphabet {
	background-color: #000000;
	width: 576px;
	float: left;
	display: inline;
	border: 1px solid #999999;
	position: relative;
	margin-left: 9px;
	font-size: 14px;
}
/****************************************************************/
ul.col-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
ul.col-list li {
	border: 1px solid #0000FF;
	width: 276px;
	margin-top: 3px;
}
ul.col-list li a {
	color: #FFFFFF;
	background-color: #000066;
	width: 100%;
	display: block;
	text-indent: 5px;
	height: 100%;
}
ul.col-list li a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
/*********************Center Buttons******************************/
ul.col-lista {
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
ul.col-lista li {
	border: 1px solid #0000FF;
	width: 276px;
	margin-top: 3px;
}
ul.col-lista li a {
	color: #FFFFFF;
	background-color: #0000CC;
	width: 100%;
	display: block;
	text-indent: 5px;
	height: 100%;
	font-weight: bold;
}
ul.col-lista li a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
/***************************************************/
ul.col-listb {
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
ul.col-listb li {
	border: 1px solid #0000FF;
	width: 276px;
	margin-top: 3px;
}
ul.col-listb li a {
	color: #f0bf5e;
	background-color: #000066;
	width: 100%;
	display: block;
	text-indent: 5px;
	height: 100%;
}
ul.col-listb li a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
/****************************************************************/
ul.col-list1 {
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	list-style-type: none;
}
ul.col-list1 li {
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 1px;
	margin-left: 1px;
	border: 1px solid #0000FF;
}
ul.col-list1 li a {
	display: block;
	color: #FFFFFF;
	background-color: #000066;
	text-align: center;
	width: 100%;
}
ul.col-list1 li a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
/****************************************************************/
ul.col-list2 {
	list-style-type: none;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}
ul.col-list2 li {
	border: 1px solid #0000FF;
	width: 276px;
	margin-top: 3px;
}
ul.col-list2 li a {
	color: #FFFFFF;
	background-color: #000066;
	width: 100%;
	display: block;
	text-indent: 5px;
	height: 100%;
}
ul.col-list2 li a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
}
/***************************************************/
.thrColLiqHdr #container #mainContent blockquote1 {
	text-align: center;
	font-size: 18px;
	color: #FF0000;
}
.padding_back th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 16px;
	background-color: #000066;
	color: #FFFFFF;
	border: 1px solid #0000FF;
}
.emailconfirm {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #990000;
	height: 60px;
	display: block;
}
.clearer {
	height: 1px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #0000FF;
	line-height: 1px;
	font-size: 1px;
}
.photocenter {
	text-align: center;
	margin-bottom: 10px;
	background-color: #000000;
	height: auto;
	width: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	float: none;
	margin-top: 10px;
}
.left {
	padding-top: 0px;
	height: auto;
	margin-bottom: 10px;
	width: 585px;
	float: left;
	padding-bottom: 0px;
	line-height: 12px;
}
.left1 {
	background-color: #DFDDFF;
	padding-top: 25px;
	height: auto;
	border: 1px solid #0000FF;
	margin-bottom: 5px;
	width: 584px;
	float: left;
}
.city {
	width: 195px;
	float: left;
}
.industry1 {
	padding-top: 3px;
	border: thin solid #FFFFFF;
	margin-top: 5px;
	padding-bottom: 3px;
	margin-bottom: 3px;
	padding-left: 3px;
	float: left;
	height: auto;
}
.industry2 {
	display: block;
	padding-right: 3px;
	border: 1px solid #000066;
	clear: none;
	float: left;
	width: 282px;
	margin-right: 3px;
}
.photo1 {
	background-color: #000066;
	height: auto;
	border: 1px solid #0000FF;
	width: 585px;
	float: left;
	margin-bottom: 5px;
}
.photo2 {
	display: inline;
	width: 300px;
	list-style-type: none;
}
.table1 {
	width: 49%;
	height: 625px;
	background-color: #E1F0FF;
	text-align: center;
	display: inline;
	text-decoration: none;
	float: left;
	white-space: nowrap;
	font-size: 10px;
}
.clearer1 {
	border: 1px solid #FFFFFF;
	clear: none;
	margin: 1px;
	padding: 0px;
	float: left;
	height: 3px;
}
/********************* Side Bar Scroller ******************************/
.scrollbar  {
	overflow: auto;
	list-style-type: none;
	height: 174px;
	text-indent: 5px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
	padding: 0px;
	font-size: 10px;
}
.directory  {
	border: 1px solid #0000FF;
	text-align: center;
	padding-top: 5px;
	margin-top: 18px;
	margin-right: 1px;
	margin-left: 1px;
	color: #B8C9DD;
	padding-bottom: 18px;
	padding-right: 3px;
	padding-left: 3px;
}
.scrollbar a:link {
	color: #FFFFFF;
	display: block;
	height: 16px;
	width: 135px;
}
.scrollbar a:hover {
	color: #FFFFFF;
	display: block;
	height: 16px;
	width: 135px;
	background-color: #000099;
}
.scrollbar a:visited {
	color: #FFFFFF;
	display: block;
	height: 16px;
	width: 135px;

}
.scrollbar a:active {
	color: #FFFFFF;
	display: block;
	height: 16px;
	width: 135px;

}
/********************* breadcrumb ******************************/
#breadcrumb {
	font-size: 10px;
	color: #0066FF;
	text-indent: 15px;
	font-family: Arial;
	font-weight: bold;
	background-color: #000000;
	padding-top: 4px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#breadcrumb a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#breadcrumb a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
	text-decoration: none;
}#breadcrumb a:visited {
	text-decoration: none;
}
#breadcrumb a:active {
	text-decoration: none;
}
/****************************************************************/
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
/****************************************************************/
#mainContent p a:link {
	color: #0000FF;
	text-decoration: none;
}
#mainContentp p a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
	text-decoration: none;
}#mainContent p a:visited {
	text-decoration: none;
	color: #0000FF;
}
#mainContent p a:active {
	text-decoration: none;
}
/****************************************************************/
.Wrap1 {
	border: 1px solid #999;
	background: #F0F3F6;
	float: none;
	height: 100px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.Wrap1 ul {
list-style: none;
}
.Wrap1 li {
float: left;
}
.Wrap1 li a {
	display: block;
	overflow:hidden;
	width: 200px;
	color: #000;
	text-decoration: none;
	padding: 0 0 3px 25px;
	background-image: url(Global.css);
	background-repeat: no-repeat;
	background-position: left top;
}
.Wrap1 li a:hover {
	color: #000;
	text-decoration: underline;
	background-image: url(Global.css);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.h3bold {
	font-size: 10px;
	color: #0066FF;
	font-weight: bold;
}
.application {
	margin-top: 15px;
	margin-bottom: 35px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width: 100%;
}
.h2section {
	font-size: 18px;
	color: #000000;
	font-family: Arial;
	border-bottom-width: medium;
	border-bottom-style: double;
	border-bottom-color: #000000;
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}
/********************** Center Of Page Table ********************************/
.city li {
	font-size: 10px;
}
.city li a:link {
	color: #0000FF;
	font-size: 12px;
	text-decoration: none;
}
.city li a:hover {
	color: #0000FF;
	background-color: #FFFFFF;
	text-decoration: none;
}
.city li a:visited {
	text-decoration: none;
	color: #0000FF;
	font-size: 12px;
}
.industry2 li {
	margin-bottom: 3px;
	margin-top: 3px;
	font-size: 10px;
	line-height: 1.5em;
}
.industry2 ul {
	padding: 0;
	width: auto;
	margin-right: 0;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: none;
	list-style-type: none;
}
.industrycenter {
	text-align: center;
	background-color: #C2BFFF;
	color: #000000;
	border: thin solid #0000FF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
	height: 20px;
}
.pagebold {
	color: #000099;
}
#ctl00 {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding-top: 5px;
	background-color: #000066;
}
em {
	color: #000066;
	font-weight: bold;
}
.pbold {
	color: #000099;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial;
}
#Quote {
	background-color: #000066;
	color: #FFFFFF;
	border: thin solid #0000FF;
	width: 583px;
}
img.right {
	background-color: #000000;
	margin-left: 30px;
	margin-bottom: 10px;
	padding: 3px;
	margin-top: 5px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-right-color: #000099;
	border-bottom-color: #000066;
	border-left-color: #000099;
}
img.left {
	background-color: #000000;
	margin-left: 30px;
	margin-bottom: 10px;
	padding: 3px;
	margin-top: 5px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-right-color: #000099;
	border-bottom-color: #000066;
	border-left-color: #000099;
}
.search {
	margin-top: 2px;
	border: 1px solid #0000FF;
	margin-bottom: 3px;
	display: block;
}
.search form {
	margin-top: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 0px;
	float: none;
}
.search .white {
	background-image: url(images/page/search-button.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width: 60px;
	height: 27px;
	border: 1px solid #0000FF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3px;
}
.photorow {
	float: left;
	text-align: center;
	width: 180px;
	margin-right: 9px;
	color: #000000;
	height: 158px;
	margin-bottom: 10px;
	display: block;
	border: 1px solid #CCCCCC;
}
.photoblock {
	height: 1365px;
	width: auto;
	padding-top: 10px;
	padding-left: 15px;
	border: 1px solid #CCCCCC;
}
.photoblock1 {
	height: 240px;
	width: auto;
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: 8px;
	background-color: #000000;
}
.photorow1 {
	float: left;
	text-align: center;
	width: 138px;
	margin-right: 4px;
	color: #FFFFFF;
	height: 110px;
	display: block;
	border: 1px solid #0000FF;
	font-weight: bold;
	background-color: #000000;
	font-size: 9px;
	margin-top: 5px;
}
.industry {
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}
.industry-1 {
	overflow: visible;
	height: 1880px;
	margin-right: auto;
	margin-left: auto;
}
.thumbnail3 {
	border: 1px solid #0000FF;
	display: block;
	height: 77px;
	padding-top: 8px;
	margin-top: 3px;
	color: #FF9900;
	background-color: #000000;
}
.thumbnailf3 {
	border: 1px solid #0000FF;
	display: block;
	height: 107px;
	padding-top: 24px;
	margin-top: 3px;
	color: #FF9900;
}
.thumbnail4 {
	border: 1px solid #0000FF;
	display: block;
	height: 124px;
	padding-top: 10px;
	margin-top: 3px;
}
.thumbnailfa {
	border: 1px solid #0000FF;
	display: block;
	height: 124px;
	padding-top: 7px;
	margin-top: 3px;
	background-color: #000000;
}
.cat {
	height: 1900px;
	width: 100%;
}
.headcenter1 {
	margin-top: 22px;
	width: 380px;
	margin-left: 28px;
	display: block;
	margin-right: 28px;
	float: left;
	height: 45px;
}
#myContent {
	background-color: #000;
}
.sitemap1 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	border: 1px solid #FFFFFF;
	padding-left: 0px;
	font-size: 12px;
	font-weight: bold;
}
.sitemap2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	border: 1px solid #FFFFFF;
	padding-left: 50px;
	font-size: 12px;
	font-weight: bold;
}
.sitemap3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px solid #FFFFFF;
	padding-left: 80px;
}
.sitemap4 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px solid #FFFFFF;
	padding-left: 110px;
}
.sitemap1 ul {
	list-style-type: none;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.sitemap2 ul {
	list-style-type: none;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.sitemap3 ul {
	list-style-type: none;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.sitemap4 ul {
	list-style-type: none;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.sitemap1 a:link {
	color: #0000FF;
	text-decoration: none;
}
.sitemap1 a:hover {
	color : #0000FF;
}
.sitemap1 a:visited {
	text-decoration: none;
	color : #0000FF;
}
.sitemap2 a:link {
	color: #0000FF;
	text-decoration: none;
}
.sitemap2 a:hover {
	color : #0000FF;
}
.sitemap2 a:visited {
	text-decoration: none;
	color : #0000FF;
}
.sitemap3 a:link {
	color: #0000FF;
	text-decoration: none;
}
.sitemap3 a:hover {
	color : #0000FF;
}
.sitemap3 a:visited {
	text-decoration: none;
    color : #0000FF;
}
.sitemap4 a:link {
	color: #0000FF;
	text-decoration: none;
}
.sitemap4 a:hover {
	color : #FF0000;
}
.sitemap4 a:visited {
	text-decoration: none;
    color : #0000FF;
}
.city ul {
	list-style-type: none;
	padding-left: 65px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.spacer {
	margin-bottom: 120%;
}
.spacer1 {
	margin-bottom: 50%;
}
.spacer2 {
	margin-top: 5%;
}
.spacer3 {
	height: 100px;
	display: block;

}
.spacer4 {
	height: 47px;
}
.spacer10 {
	height: 500px;
}
.spacerbottom {
	height: 20px;
	width: 100%;
}
.spacerparagraph {
	height: 3px;
}
.spacerfullpage {
	height: 707px;
}
.spacerfullpage1 {
	height: 880px;
}
.application #Employment th {
	border: 1px solid #0000FF;
	color: #FFFFFF;
	background-color: #000066;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	text-align: center;
}
.filenotfound {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #990000;
}
.thumbnailf4 {
	height: 45px;
}
#headcenter {
	display: block;
}
.head {
	display: block;
	color: #0066FF;
	font-size: 9px;
	float: left;
	width: 961px;
	margin: 0px;
	padding: 0px;
	height: 10px;
	line-height: 10px;
}
.head1 {
	color: #F00;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	text-align: justify;
	height: 20px;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
}
#head {
	display: block;
	float: left;
	width: 961px;
	margin-top: 5px;
	height: 10px;
	margin-bottom: 0px;
	overflow: hidden;

}
#headbottom {
	display: block;
	float: left;
	height: 10px;
	line-height: 10px;
	margin-bottom: 5px;

}
.headbottom {
	width: 961px;
	display: block;
	color: #0066FF;
	font-weight: bold;
	font-size: 9px;
	height: 10px;

}
.radio {
	background-color: #D7D7FF;
	width: 57px;
	float: left;
	clear: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-weight: bold;
	color: #000;


}
.fieldset {
	padding-right: 5px;
	padding-left: 5px;


}
#hi {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #D7D7FF;


}
